# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Configure/make files
*.ac
Makefile.am
configure
config.guess
config.sub

# bakefiles
*.bkgen
*.bkl

# wxWidgets make files
makefile.bcc
makefile.gcc
makefile.vc
makefile.wat

# CodeBlocks build files
*.cbp
*.layout
*.depend
update
update30

# Simple makefiles
Makefile

# MS build files
*.dsp
*.dsw
*.sln
*.vcproj
*.vcxproj

# batch files
*.bat

# CodeBlocks temporary files and folders
/src/.objs*
/src/devel*
/src/output*
/src/plugins/contrib/SmartIndent/manifest.xml
*build_log.html

#
